name: Deploy to WebServer

on: [push]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Package インストール
        run: |
            sudo apt update;
            sudo apt install -y tree;

      - name: ソースコードの Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: tree コマンドを実行
        run: |
            tree .

