name: Deploy to WebServer

on: [push]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Package インストール
        run: |
            sudo apt update;
            sudo apt install -y tree sed;

      - name: ソースコードの Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 7

      - name: tree コマンドを実行
        run: |
            tree .;
            git log  | grep commit | sed -e 's|^commit ||g' > ../output.txt;
            i=0
            while read line;
            do
              echo $line > ../tmp.txt ;
              cat ../tmp.txt > ../${i}.txt ;
              i=`expr 1 + $i`
            done < ../output.txt ;
            cat ../tmp.txt > ../f.txt ;
            f=`cat ../f.txt` ;
            l=`cat ../0.txt` ;
            echo "=== git diff コマンド実行します ==="
            ls -la ../
            echo "git diff --name-only ${f} ${l}"
            cat ../f.txt
            cat ../0.txt
            git diff --name-only ${f} ${l} > ../out.txt
            cat ../out.txt
            echo "=== 実行終了 ==="

